<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-3 box" style="font-size: 25px;  background: #007bff; color: white">
      <app-statistic [type]="'users'"></app-statistic>
    </div>


    <div class="col-sm-1"></div>

    <div class="col-sm-3 box" style="font-size: 25px; background: #ffc107; color: white">
        <app-statistic [type]="'reports'"></app-statistic>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-3 box" style="font-size: 25px; background: #dc3545; color: white">
        <app-statistic [type]="'banned'"></app-statistic>
    </div>

  </div>


  <!-- part 2 -->

  <app-table-report ></app-table-report>


<!-- part 3 -->

  <app-table-banned ></app-table-banned>
</div>
