.container-footer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1280px;
  margin-right: auto;
    margin-left: auto;
}


.footer1 {
  display: flex;
  padding: 0 34.5px;
  flex-direction: row;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.info {
  font-size: 32px;
  width: 400px;
}

.about {
  font-weight: 700;
  color: #ED6504;
  margin-bottom: 10px;
}

.website {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.member {
  width: 400px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

i{
  /* color: #34495e;
  background: white; */
  --border-radius: 50%;
  --border: 1px solid #EEE;
  font-size: 16px;
  transition: 500ms all;
  margin-right: 10px;
}

i:hover {
  cursor: pointer;
  transform: scale(1.5);
}


p{
  margin: 0px;
  font-weight: 500;
}

hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.col-sm {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
