
<div class="footer">
  <div class="info">
    <div class="about">
      About
    </div>
    <h6>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, recusandae unde? Ut obcaecati dolore est.
    </h6>
  </div>
  <div class="website">
    Copyright @2019-2020 travelhelper.com
  </div>
  <div class="member">
    <div [style.width.px]="200">
        <p>
            Developers
        </p>
          <ul class="list">
                <li class=""><i class="eva eva-facebook"></i> Nguyễn Thế Cường</li>
                <li class=""><i class="eva eva-facebook"></i> Lê Trọng Tài</li>
                <li class=""><i class="eva eva-facebook"></i> Nguyễn Nhật Quang</li>
                <li class=""><i class="eva eva-facebook"></i> Nguyễn Hà Phương Nam</li>
                <li class=""><i class="eva eva-facebook"></i> Lê Văn Hồng Quân</li>
          </ul>
    </div>


  </div>
</div>


