<!--
<div class="footer1 row">
  <div class="info col">
    <div class="about">
      About
    </div>
    <h6>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, recusandae unde? Ut obcaecati dolore est.
    </h6>
  </div>
  <div class="website col">
    Copyright @2019-2020 travelhelper.com
  </div>
  <div class="member col">
    <div [style.width.px]="200">
        <p>
            FOLLOW US
        </p>
          <ul class="list">
                <li class=""><i class="eva eva-github-outline"></i></li>
                <li class=""><i class="eva eva-facebook"></i></li>
          </ul>
    </div>


  </div>
</div> -->

<div class="container" style="padding-top: 20px !important">
  <div class="row">
    <div class="col-sm">

      <div class="about">
        ABOUT
      </div>
      <span>
        This website is about to help people around the world when they travel.
      </span>

    </div>
    <div class="col-sm">
        <div class="about">
            JOIN TRAVEL
          </div>
          <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, recusandae unde? Ut obcaecati dolore est.
          </span>
          <div>
            <img src="../../../../assets/imgs/world-map.jpg" alt="" height="80%" width="100%">

          </div>
    </div>
    <div class="col-sm">
      <ul class="list">
          <div class="about">
              CONTACT US
            </div>
        <li class="">
            <div class="row">
                <div class="col-1"><i class="fas fa-home "></i></div>
                <div class="col">
                  <p>ADDRESS</p>
                  <span>54 Nguyễn Lương Bằng, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng 550000</span></div>
            </div>
        </li>

        <li class="">
          <div class="row">
              <div class="col-1"><i class="fas fa-phone "></i></div>
              <div class="col">
                <p>PHONE</p>
                <span>0902449450</span></div>
          </div>
        </li>

        <li class="">
          <div class="row">
              <div class="col-1"><i class="far fa-envelope "></i></div>
              <div class="col">
                <p>EMAIL</p>
                <span>email@email.com</span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr style="color: #888">

  <div class="container" style="padding-bottom: 10px; padding-top: 10px !important">
      <div class="row">
        <div class="col-sm">
            <h6>Copyright @2019-2020 travelhelper.com</h6>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <div class="row">
            <div class="col">
              <h6>FOLLOW US </h6>

              <i class="eva eva-github"></i>
              <i class="eva eva-facebook"></i>
              <i class="eva eva-twitter"></i>
              <i class="fab fa-instagram"></i>

            </div>

            <div class="col">
                <h6>MOBILE APP </h6>

                <i class="fab fa-android"></i>
                <i class="fab fa-apple"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
