<div class="row" style="background: white; margin-bottom: 10px;">
  <div class="col-sm-7">

    <fieldset>
      <legend>Public Trips</legend>

    </fieldset>


  </div>

  <div class="col-sm-5" style="margin-bottom: 10px">
    <fieldset style="padding: 15px">
      <legend>Trip's Detail</legend>

      <fieldset>
        <legend>Destination</legend>
        <div class="form-row" style="margin-right: 10px">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="City">
          </div>
        </div>

        <div class="form-row" style="margin-right: 10px">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="City">
          </div>
        </div>
      </fieldset>
        <div class="form-row" style="margin-right: 10px">
          <div class="col">
            <span style="margin: 0.5rem">Departure Date</span>
            <input type="date" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <span style="margin: 0.5rem">Arrival Date</span>
            <input type="date" class="form-control" placeholder="City">
          </div>
        </div>

        <div class="form-row" style="margin-right: 10px">
          <div class="col">
            <span style="margin: 0.5rem">Traveler Number</span>
            <select class="form-control" id="" style="margin: 0.4rem;">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col"></div>
        </div>

        <div class="form-row" style="margin-right: 10px">
          <div class="col">
              <textarea class="form-control" style="margin: 0.4rem;" id="validationTextarea" placeholder="Description about the trip" required></textarea>
          </div>
        </div>

        <div class="form-row" style="margin-right: 10px">
          <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col d-flex justify-content-start">
            <button class="btn btn-danger">Clear</button>
          </div>
        </div>


      </fieldset>
  </div>
</div>
