legend{
  width: 125px;
  margin-left: 20px;
}

fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

.content{
  background: white;
  padding-bottom: 15px;
}

.PublicTrip{
  max-height: 400px;
  overflow-y: scroll;
}


.form-row {
  margin-bottom: 15px;
}

.col{
  position: unset;

}

input, select{
  margin: 0px;
  padding: 0 5px;
}

.relative {
  position: relative;
}

.relative .dropdown{
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;

}

.relative .dropdown ul {
  padding: 0;
}

.relative .dropdown ul li:hover{
  background: #DDD;
  cursor: pointer;
}
.input-focus:focus{
   
  box-shadow: none;

}