<div class="row justify-content-center" style="margin-bottom: 10px;">
  <div class="col-sm-7 content box ">




    <div class="d-flex justify-content-center text-secondary m-3" *ngIf="!publicTrips;else show">
      <div class="spinner-border" role="status" style="width: 3em; height: 3em;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ng-template #show>


        <h1>Public Trips</h1>
        <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1);" />
        <div class="PublicTrip">
          <ng-container *ngIf="publicTrips.length > 0;else noPublicTrip">

            <app-pubic-trip-content  *ngFor="let publicTrip of publicTrips; let id = index" [PublicTrip]="publicTrip"
              [stt]="id + 1" (idTrip)="onClickPublicTrip($event)" (idTripDelete)="onClickDeleteTrip($event)">
            </app-pubic-trip-content>


          </ng-container>

          <ng-template #noPublicTrip>
            <div class="alert alert-primary" role="alert">
              You don't have public trip
            </div>
          </ng-template>
        </div>

    </ng-template>
  </div>

  <div style="width: 40px;"></div>

  <div class="col-sm-4 content box" style="margin-bottom: 10px; padding-bottom: 15px">
    <!-- <fieldset style="padding: 15px"> -->
    <h1>Trip's Detail</h1>
    <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1);" />

    <form [formGroup]="formUser" autocomplete="off" novalidate="true" (ngSubmit)="onSubmitForm()">
      <span style="margin: 0.5rem">Destination <span style="color: red">*</span> </span>
      <div class="form-row">
        <div class="col relative">



          <input type="button" class="form-control input-focus" style="padding-left: 20px; cursor: text;"
            (click)="showform=true;showsearch();" [(ngModel)]="des" formControlName="destination">
          <div class="back-drop-header" (click)="showform=false" *ngIf="showform">
          </div>
          <div class="back-drop" (click)="showform=false" *ngIf="showform">
          </div>
          <form style="position:relative;z-index: 901;" autocomplete="off">
            <input #search name="search" [(ngModel)]="addressInput" class="form-control" (keyup)="onKeyup();"
              style=" position:absolute;bottom: 0px ;padding-left: 20px;"
              [style.display]="showform &&issearch?'unset':'none'">
            <app-dropdown [type]="'select'" (myClick)="showform=false;formUser.get('destination').setValue($event);"
              [searchedSubject]="searchedSubject"></app-dropdown>
          </form>

          <label class="text-danger"
            *ngIf="formUser.controls.destination.dirty && formUser.controls.destination.errors?.required">This field
            is mandatory.</label>

          <!-- <div class="dropdown list-group" *ngIf="this.places.length > 0">
              <ul>
                <li class="list-group-item" *ngFor="let place of places" (click)="onClickPlace(place)">{{place}}</li>
              </ul>
            </div> -->

        </div>
        <!-- <div class=" col">
            <input type="text" class="form-control"  placeholder="City">
          </div> -->
      </div>

      <!-- <div class="form-row" style="margin-right: 10px">
          <div class="col">
            <input type="text" class="form-control" placeholder="State/Province">
          </div>
          <div class="col ">
            <input type="text" class="form-control" placeholder="Country">
          </div>
        </div> -->



      <div class="form-row">

        <div class="col" >
          <span style="margin: 0.5rem">Arrival Date <span style="color: red">*</span> </span>
          <input #arrivaldate min="{{now| date:'yyyy-MM-dd'}}" type="date" class="form-control" [(ngModel)]="trip.arrivalDate" formControlName="arrivalDate">
          <label  class="text-danger"
            *ngIf="formUser.controls.arrivalDate.dirty && formUser.controls.arrivalDate.errors?.required">This field
            is mandatory.</label>
        </div>
        <div class="col" style="margin-left: 5px;">
            <span style="margin: 0.5rem">Departure Date <span style="color: red">*</span> </span>
            <input  [min]="arrivaldate.value"  type="date" class="form-control" [(ngModel)]="trip.departureDate" formControlName="departureDate">
            <label class="text-danger"
              *ngIf="formUser.controls.departureDate.dirty && formUser.controls.departureDate.errors?.required">This
              field is mandatory.</label>
          </div>
      </div>

      <div class="form-row">
        <div class="col">
          <span style="margin: 0.5rem">Traveler Number <span style="color: red">*</span> </span>
          <select class="form-control" id="" [(ngModel)]="trip.travelerNumber" formControlName="travelerNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label class="text-danger"
            *ngIf="formUser.controls.travelerNumber.dirty && formUser.controls.travelerNumber.errors?.required">This
            field is mandatory.</label>
        </div>
        <div class="col"></div>
      </div>

      <div class="form-row">
        <div class="col">
          <textarea rows="5" class="form-control" placeholder="Description about the trip"
            [(ngModel)]="trip.description" formControlName="description"></textarea>
        </div>
      </div>

      <!-- <input type="text" list="browsers">
        <datalist id="browsers">
          <option value="Internet Explorer">
          <option value="Firefox">
          <option value="Chrome">
          <option value="Opera">
        </datalist> -->


      <div class="form-row ">
        <div class="col d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="formUser.invalid">Add</button>
        </div>
        <div class="col d-flex justify-content-center ">
          <button type="button" class="btn btn-success" [disabled]="formUser.invalid"
            (click)="onUpdatePublicTrip()">Update</button>
        </div>
        <div class="col d-flex justify-content-start ">
          <button type="button" class="btn btn-danger" (click)="onClearForm()">Clear</button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <span class="text-success  " *ngIf="click && check">{{textBtn}} success</span>
        <span class="text-danger " *ngIf="click && !check">{{textBtn}} failed
          {{textBtn === 'Update' && check === false ? '(you must submit before update)' : '' }}</span>

      </div>



    </form>
    <!-- </fieldset> -->
  </div>
</div>
