<app-offer-to-host [trip]="trip"></app-offer-to-host>
<div class="your-trips">
  <div class="top" >
    <div class="traveler-info">
      <!-- <span class="name">Public Trip</span><br> -->
      <span>Visiting: </span><span class="bold-value">{{trip.destination}}</span><br>
    </div>
    <div class="button">
      <button *ngIf="isUser" class="btn btn-primary">Edit</button>
      <button (click)="offerToHost.open()" *ngIf="!isUser" class="btn btn-primary">Offer to Host</button>
    </div>
  </div>
  <div class="trip-info">
    <span><i class="far fa-calendar-alt"></i></span>
    <span>{{trip.arrivalDate|date:"dd/MM/yy" }} <i class="fas fa-arrow-right"></i>
      {{trip.departureDate|date:"dd/MM/yy"}}</span>
    <span><i class="fas fa-user-friends"></i></span><span>{{trip.travelerNumber}} Traveler</span>
  </div>

  <div (window:resize)="onResize($event)" [ngStyle]="x && {'max-height.em':height}" class="trip-decription ">
    <p #des>{{trip.description}} </p>
  </div>
  <div class="button-decription" *ngIf="show" >
    <a style="margin-left:auto" (click)="x=!x">{{x?'[-]Read Less':'[+]Read More'}}</a>
  </div>
</div>