.your-trips{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 20px;
}
.top{
    width: 100%;
    float: left;
}
.traveler-info{
    float: left;
    padding-top: 5px;
}
span{
    word-wrap: break-word;
}
.trip-info{
    clear: both;
    padding: 10px 0px;
    
}
.trip-info span{
    padding-right: 10px;
}
.bold-value{
    font-size: 1em;
    font-weight: 500;
}
.button{
    float: right;
    padding-right: 20px;
}
.button button{
    width: 120px;
    height: 50px;
}
.trip-decription{
    clear: both;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
     max-height: 4.5em;
     overflow: hidden; 
    transition: max-height 0.5s; 
    
 }
 .trip-decription p{
     margin-bottom: 0px; 
 }
 .button-decription{
    padding-top: 5px;
    display: flex; 
    max-width: 80%;
}
.button-decription a{
    color: #287FB8;;
    font-weight: 600;
}
.button-decription a:hover{
    cursor: pointer;
    color: #ED6504;
}