.item{
    border-radius: 0.5rem;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #f8f8f8;
    margin: 20px;
}
.your-trips{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 20px;
    position: relative;
}
.top{
    width: 100%;
    float: left;
}
.traveler-info{
    float: left;
    padding-top: 5px;
}
span{
    word-wrap: break-word;
}
.trip-info{
    clear: both;
    padding: 10px 0px;
    
}
.trip-info span{
    padding-right: 10px;
}
.bold-value{
    font-size: 1em;
    font-weight: 500;
}
.menu-button{
    position: absolute;
  right: 20px;
  top: 20px;
}
.menu-button button{
    width: 120px;
    min-height: 50px;
}
.trip-decription{
    clear: both;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
     max-height: 4.5em;
     overflow: hidden; 
    transition: max-height 0.5s; 
    
 }
 .trip-decription p{
     margin-bottom: 0px; 
 }
 .button-decription{
    padding-top: 5px;
    display: flex; 
    max-width: 80%;
}
.button-decription a{
    color: #287FB8;;
    font-weight: 600;
}
.button-decription a:hover{
    cursor: pointer;
    color: #ED6504;
}
@media screen and (max-width: 480px) {
    .menu-button{
        padding-top: 10px;
        position: unset;
        max-width: 100%;
        float: unset;
        display: flex;
        justify-content: center;
    }
    .menu-button button{
        min-height: unset;
        width: 150px;
    }
    .trip-decription,.button-decription{
        max-width: 100%;
    }
}