<div class="your-trips">
  <div class="traveler-info">
    <!-- <span class="name">Public Trip</span><br> -->
    <span>Visiting: </span><span class="bold-value">{{trip.destination}}</span><br>
  </div>
  <div *ngIf="isUser" class="button">
    <button class="btn btn-primary">Edit</button>
  </div>
  <div *ngIf="!isUser" class="button">
    <button class="btn btn-primary">Offer to Host</button>
  </div>
  <div class="trip-info">
    <span><i class="far fa-calendar-alt"></i></span>
    <span>{{trip.arrivalDate|date:"dd/MM/yy" }} <i class="fas fa-arrow-right"></i>
      {{trip.departureDate|date:"dd/MM/yy"}}</span>
    <span><i class="fas fa-user-friends"></i></span><span>{{trip.travelerNumber}} Traveler</span>
  </div>
  <div class="trip-decription">
    {{trip.description}}
  </div>

</div>