<ng-template #loading>
  <div class="box">
    <app-loading></app-loading>
  </div>
</ng-template>
<ng-template #nothing>
  <div class="nothing">
    <span>Nothing to show</span>
  </div>
</ng-template>
<ng-container *ngIf="isLoading==false;else loading">
  <div class="box box-friends">
    <div class="box-header">
      <span>FRIENDS</span>
    </div>
    <ng-container *ngIf="friends.length;else nothing"></ng-container>
    <div class="content-friends row">
      <div *ngFor="let friend of friends" class="col-md-6 col-sm-12 ">
        <div class="item">
          <div class="avatar">
            <a routerLink="/Users/People/{{friend.id}}"><img class="photo" [src]="friend.avatarLocation"></a>
          </div>
          <div class="info">
            <a routerLink="/Users/People/{{friend.id}}">
              <p class="name">{{friend.fullName}}</p>
            </a>
            <p class="address">{{friend.address}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>