<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
<ng-template #nothing>
  <div class="nothing">
    <span>Nothing to show</span>
  </div>
</ng-template>
<div class="box box-activity">
  <div class=" tab-bar">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':type==='travelrequest'}" [routerLink]=""
          [queryParams]="{type:'travelrequest'}">
          Travel Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':type==='hostoffer'}" [routerLink]=""
          [queryParams]="{type:'hostoffer'}">Host Offer</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <ng-container *ngIf="isLoading==false;else loading">
      <ng-container *ngIf="items.length;else nothing">
        <ng-container *ngFor="let item of items">
          <app-item-activity (myClick)="onAction($event)" [item]="item" [from]="type"> </app-item-activity>
        </ng-container>

      </ng-container>

    </ng-container>

  </div>
</div>