a{
    color: #27374c;
}
a:hover{
    text-decoration: none;
}
.content-left{
    /* min-width: 220px; */
    max-width: 300px; 
    min-width: 260px;
   
    padding: 0px 5px 0px 5px !important;
}
.content-right{
    padding: 0px 5px 0px 5px !important;
    min-width: 100px;
}
.content-right .row{
    margin: 0px ;
}
.box-action{
    width: 100%;
    text-align: center;
}
.box-action a{
    display: inline-block;
    margin: 12px 0px;
    font-size: 1.1em;
    color: #287FB8;
    font-weight: 500;
}
.box-action a:hover{
    color: #ED6504;
}
.box-action i{
    padding-left: 5px;
}

.user-info{
    padding-top: 50px;
    text-align: center;
}
.info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.status{
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 30px;
    padding-top: 30px;
}
.info p{
    padding: 3px 0px 3px 0px;
    margin-bottom: 0px !important;
}
.status-value {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 10px 10px;

}
.profile-content{
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.progress-bar{
    text-align: left;
    width: 100%;
    background-color: #cdc9c9;
    height: 35px;
    border: 1px solid rgba(0,0,0,0.15);
}
.percent{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #41b866;
}
.progress-bar span{
    padding-left: 10px;
    overflow: visible;


   
}
/* info */


.proposed-box{
    padding: 15px;
}
.proposed-box .item{
   padding: 5px;
}
.proposed-box a{
    display: block;
    /* background-image: url('/assets/imgs/background.jpg'); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
 }
 .proposed-box a:hover{
   cursor: pointer;
 }
 .proposed-box p{
     font-weight: 600;
    font-size: 22px;
    margin: 0px;
    padding: 25px 0px 5px 0px;
 }
 .proposed-box span{
    font-weight: 400;
    font-size: 17px;
}


.search-box{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}
 .search-form{
    display: inline-block;
    text-align: center;
    position: relative;
    
}
.search-box form{
    border: 2px solid #c5ccd5;
    border-radius: 25px;
    padding: 0.5px 10px 0.5px 20px;
}
.search-form input{
    height: 38px;
    width: 300px;
    display: inline-block;
     border: none;
}
.search-form input:focus {
    outline: none;
}
.search-form input:hover{
    cursor: pointer;
}
.search-box  button {

    border-radius: 25px;
    background: none;
    border: none;
}
.search-box  button:focus{
    outline: none;
}



/*find-host*/
.notrip{
    height: 150px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: flex;
    background: #eceef0;
    align-items: center;
}
.notrip span{
    margin: auto;
}
/*plans*/


/*public-trips*/
@media screen and (max-width: 768px) {
    .content-left{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .content-right{
        order: 1;

    }
    .hide{
        display: none;
    }
}
