<div class="row">
  <div class="content-left col ">
    <div class="box user-info">

      <a href="#"><img class="photo img-responsive" src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>

      <div class="info">
        <p style="font-size:30px;">{{user.fullName}}</p>
        <p>{{user.address}}</p>
      </div>
      <div class="status">
        <p style="font-size:18px;">Your status</p>
        <span *ngIf="user.id" class="status-value" [style.color]="user.status?'green':'red'">
          {{user.status?'Acepting Guest':'Not Acepting Guest'}}
        </span>
      </div>
    </div>
  </div>
  <div class="content-right col ">
    <div class="box find-host">
      <div class="box-header">
        <i class="fas fa-couch"></i> <span>FIND HOST AT WHERE YOU ARE GOING TO</span>
      </div>
      <div class="proposed-box row">
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
      </div>
      <div class="search-box">
        <form #formSearch="ngForm" autocomplete="off">
          <div class="search-form" (clickOutside)="cityNames=[];textInput = '';">
            <input [(ngModel)]="textInput" (keyup)="onKeyup();" name="input" class="" type="text"
              placeholder="Where are you going?">
            <button class="" type="submit"><i style="color:#a0acbb;" class="fas fa-search"></i></button>
            <div class="dropdown">
              <ul>
                <li *ngFor="let city of cityNames"><a (click)="textInput=city; onSubmit(formSearch);">
                    <span>{{city}}</span>
                  </a></li>
              </ul>
            </div>
          </div>
        </form>

      </div>

    </div>
    <div class="box plans">
      <div class="box-header">
        <i class="fas fa-plane"></i><span>YOUR TRIP'S PLANS</span>
      </div>
      <div *ngFor="let trip of user.publicTrips" class="your-trips">
        <div class="traveler-info">
          <span class="name">Public Trip</span><br>
          <span>Visiting: </span><span class="visiting">{{trip.destination}}</span><br>
        </div>
        <div class="edit-button ">
          <button class="btn btn-primary">Edit</button>
        </div>
        <div class="trip-info">
          <span><i class="far fa-calendar-alt"></i></span>
          <span>{{trip.arrivalDate|date:"dd/MM/yy" }} <i class="fas fa-arrow-right"></i>
            {{trip.departureDate|date:"dd/MM/yy"}}</span>
          <span><i class="fas fa-user-friends"></i></span><span>{{trip.travelerNumber}} Traveler</span>
        </div>
        <div class="trip-decription">
          {{trip.description}}
        </div>

      </div>
      <div *ngIf="(!user.publicTrips.length)" class="notrip">
        <span>You have no upcoming trips.</span>
      </div>
      <!-- <div class="plans-buttons">
        <button class="btn btn-primary">Create trip's plan</button>
        <button class="btn btn-primary">Your trip's plan</button>
      </div> -->
      <div class="box-action">
        <a href=""><span>Your Trip's Plan</span><span><i class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>
    <div class="box public-trips">
      <div class="box-header">
        <i class="fas fa-users"></i><span>TRAVELERS LOOKING FOR HOSTS</span>
      </div>
      <div *ngFor="let publicTrip of publicTrips" class="show-trips">
        <div class="trip row">
          <div class="img col">
            <a href=""><img class="photo" src="./../../../../assets/imgs/profile-picture-placeholder.png" alt=""></a>
          </div>
          <div class="trip-content col">
            <div class="traveler-info">
              <a routerLink="/Users/People/{{publicTrip.user.id}}"> <span
                  class="name">{{publicTrip.user.fullName}}</span></a>
              <span class="sex"><i *ngIf="publicTrip.gender" class="fas fa-mars"></i><i *ngIf="!publicTrip.gender"
                  class="fas fa-venus"></i></span><br>
              <span>Visiting: </span><span class="visiting">{{publicTrip.destination}}</span><br>
              <span>From: </span><span class="from">{{publicTrip.user.address}}</span><br>
              <span>Speakers: </span><span class="language">{{publicTrip.user.fluentLanguage}}</span><br>
            </div>
            <div class="offer-button ">
              <button class="btn btn-primary">Offer Host</button>
            </div>
            <div class="trip-info">
              <span><i class="far fa-calendar-alt"></i></span>
              <span>{{publicTrip.arrivalDate|date:"dd/MM/yy" }} <i class="fas fa-arrow-right"></i>
                {{publicTrip.departureDate|date:"dd/MM/yy"}}</span>
              <span><i class="fas fa-user-friends"></i></span><span>{{publicTrip.travelerNumber}} Traveler</span>
            </div>


            <div class="trip-decription">
              {{publicTrip.description}}
            </div>
          </div>
        </div>
      </div>
      <div class="box-action">
        <a href=""><span>See More Public Trips</span><span><i class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>