<div class="row">
  <div class="content-left col-3 ">
    <div class="box user-info">
      <a [routerLink]="['../Profile']"><img class="photo img-responsive"
          [src]="user.avatarLocation?user.avatarLocation:'./../../../../assets/imgs/profile-picture-placeholder.png'"></a>
      <div class="info">
        <p style="font-size:30px;">{{user.fullName}}</p>
        <p>{{user.address}}</p>
      </div>
      <div class="status">
        <p style="font-size:18px;">Your status</p>
        <span *ngIf="user.id" class="status-value" [style.color]="user.status?'green':'red'">
          {{user.status?'Acepting Guest':'Not Acepting Guest'}}
        </span>
      </div>
    </div>
  </div>
  <!-- Content left -->
  <div class="content-right col ">
    <div class="box find-host">
      <div class="box-header">
        <i class="fas fa-couch"></i> <span>FIND HOST AT WHERE YOU ARE GOING TO</span>
      </div>
      <div class="proposed-box row">
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
        <a href="#" class="col"><img class=" img-responsive"
            src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
      </div>
      <div class="search-box">
        <form (submit)="onSubmit(formSearch);" #formSearch="ngForm" autocomplete="off" (clickOutside)="textInput = '';" >

          <div class="search-form" >
            <input ngModel [(ngModel)]="textInput" (keyup)="onKeyup();" name="input" class="" type="text"
              placeholder="Where are you going?">
              
            <app-dropdown [searchedSubject]="searchedSubject"></app-dropdown>
          </div>
          <button type="submit"><i style="color:#a0acbb;" class="fas fa-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Find host-->
    <div class="box plans">
      <div class="box-header">
        <i class="fas fa-plane"></i><span>YOUR TRIP'S PLANS</span>
      </div>
      <ng-container *ngFor="let trip of user.publicTrips">
        <app-trip [isUser]="isUser" [trip]="trip"></app-trip>
      </ng-container>
      <div *ngIf="(!user.publicTrips.length)" class="notrip">
        <span>You have no upcoming trips.</span>
      </div>
      <div class="box-action">
        <a routerLink="/Users/PublicTrip"><span>Your Trip's Plan</span><span><i
              class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>

    <!-- Plan -->
    <div class="box public-trips">
      <div class="box-header">
        <i class="fas fa-users"></i><span>TRAVELERS LOOKING FOR HOSTS</span>
      </div>
      <ng-container *ngFor="let publicTrip of publicTrips">
        <app-publictrip [publicTrip]="publicTrip"></app-publictrip>
      </ng-container>
      <div class="box-action">
        <a href=""><span>See More Public Trips</span><span><i class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>
  </div>