<div class="row">
  <div class="content-left col-3 ">
    <div class="box user-info">
      <a [routerLink]="['../Profile']"><img class="photo img-responsive"
          [src]="user.avatarLocation?user.avatarLocation:'./../../../../assets/imgs/profile-picture-placeholder.png'"></a>
      <div class="info">
        <p style="font-size:30px;font-weight: 600">{{user.fullName}}</p>
        <p style="font-size: 20px;">{{user.address}}</p>
      </div>
      <div class="status">
        <p style="font-size:18px;">Your status</p>
        <div style="display: flex;align-items: center; justify-content: center">
          <i *ngIf="user.status;else not" class="color-icon"
            style=" width: 40px;height: 40px; background-image: url(https://img.icons8.com/color/96/000000/ok.png)"></i>
          <ng-template #not>
            <i class="color-icon"
              style=" width: 40px;height: 40px; background-image: url(https://img.icons8.com/color/96/000000/cancel.png)"></i>
          </ng-template>
          <span *ngIf="user.id" class="status-value" [style.color]="user.status?'green':'red'">
            {{user.status?'Acepting Guest':'Not Acepting Guest'}}
          </span>
        </div>
      </div>
    </div>
    <div class="box profile">
      <div class="box-header">
        <span>MY PROFILE</span>
      </div>
      <div class="profile-content">
        <div class="progress-bar">
          <div class="percent" [style.width.%]="percent">
            <span>{{percent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="box-action">
        <a routerLink="/Users/Profile/Edit"><span>Complete My Profile</span><span><i
              class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>
  </div>
  <!-- Content left -->
  <div class="content-right col ">
    <div class="box find-host">
      <div class="box-header">
        <i class="fas fa-couch"></i> <span>FIND HOST AT WHERE YOU ARE GOING TO</span>
      </div>
      <div class="proposed-box row">
        <ng-container *ngFor="let place of places; let i=index">
          <div [@fadeInOut] class="item1 col" [ngClass]="{'hide':i==2}">
            <a [routerLink]="'/Users/Search'" [queryParams]="{type:'host',location:place.place}"
              [ngStyle]="{'background-image':'url('+place.imageLocation+')'}">
              <p>{{place.place}}</p>
              <span>{{place.hostNumber}}+ hosts</span>
            </a>
          </div>
        </ng-container>
        <!-- <div class="item col">
          <a style="background-image: url('/assets/imgs/cali.jpg');">
            <p>Napa Valley, California</p>
            <span>5,600+ hosts</span>
          </a>
        </div>
        <div class="item col">
          <a style="background-image: url('/assets/imgs/bord.jpg');">
            <p>Bordeaux, France</p>
            <span>6,600+ hosts</span>
          </a>
        </div>
        <div class="item col hide">
          <a style="background-image: url('/assets/imgs/tus.jpg');">
            <p>Tuscany, Italy</p>
            <span>7,600+ hosts</span>
          </a>
        </div> -->
      </div>
      <div style="text-align: center;border-top: solid 1px rgba(0,0,0,0.15);padding-top: 10px;">
        <span style="font-weight: 600">Find hosts wherever I’m going</span>
      </div>
      <div class="search-box">
        <form (submit)="onSubmit(formSearch);" #formSearch="ngForm" autocomplete="off" (clickOutside)="textInput = '';">

          <div class="search-form">
            <input ngModel [(ngModel)]="textInput" (keyup)="onKeyup();" name="input" class="" type="text"
              placeholder="Where are you going?">

            <app-dropdown [searchedSubject]="searchedSubject"></app-dropdown>
          </div>
          <button type="submit"><i style="color:#a0acbb;" class="fas fa-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Find host-->
    <div class="box plans">
      <div class="box-header">
        <i class="fas fa-plane"></i><span>YOUR TRIP'S PLANS</span>
      </div>
      <ng-template #loading>
        <app-loading></app-loading>
      </ng-template>
      <ng-template #nothing>
        <div class="nothing">
          <span>Nothing to show</span>
        </div>
      </ng-template>
      <ng-container *ngIf="trips;else loading">
        <ng-container *ngIf="trips.length;else nothing">
          <ng-container *ngFor="let trip of trips">
            
              <app-trip [isUser]="isUser" [trip]="trip"></app-trip>
            
          </ng-container>
        </ng-container>
        <!-- <div *ngIf="(!trips.length)" class="notrip">
          <span>You have no upcoming trips.</span>
        </div> -->
      </ng-container>

      <div class="box-action">
        <a routerLink="/Users/PublicTrip"><span>Your Trip's Plan</span><span><i
              class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>

    <!-- Plan -->
    <div class="box public-trips">
      <div class="box-header">
        <i class="fas fa-users"></i><span>TRAVELERS LOOKING FOR HOSTS</span>
      </div>
      <ng-template #loading>
        <app-loading></app-loading>
      </ng-template>
      <ng-container *ngIf="publicTrips;else loading">
        <ng-container *ngIf="publicTrips.length;else nothing">
          <ng-container *ngFor="let publicTrip of publicTrips">
            
              <app-publictrip (myClick)="openofferToHostModal($event)" [publicTrip]="publicTrip"></app-publictrip>
            
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="box-action">
        <a [routerLink]="'/Users/Search'" [queryParams]="{type:'traveler',location:user.address}"><span>See More Public
            Trips</span><span><i class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
    </div>
  </div>
  <app-offer-to-host></app-offer-to-host>