<ng-template #loading>
    <div class="box">
  <app-loading></app-loading>
  </div>
</ng-template>
<ng-container *ngIf="isLoading==false;else loading">
  <div class="box box-myhome">
    <div class="box-header">
      <span>MY HOME</span>
    </div>
    <ng-template #nothing>
      <div class="nothing">
        <span>Nothing to show</span>
      </div>
    </ng-template>
    <div *ngIf="home && !none;else nothing" class="content-myhome">
      <div *ngIf="home.maxGuest" class="item"><span>Max Number of Guests :</span>{{home.maxGuest}}</div>
      <div *ngIf="home.preferedGender" class="item"><span>Preferred Gender to Host
          :</span>{{home.preferedGender}}</div>
      <div *ngIf="home.sleepingArrangement" class="item"><span>Sleeping Arrangements
          :</span>{{home.sleepingArrangement}}</div>
      <div *ngIf="home.sleepingDescription" class="item"> <span>Description of Sleeping Arrangement</span>
        <p>{{home.sleepingDescription}}</p>
      </div>
      <div *ngIf="home.transportationAccess" class="item"><span>Public Transportation Access </span>
        <p>{{home.transportationAccess}}</p>
      </div>
      <div *ngIf="home.allowedThing" class="item"><span>Allowed Thing </span>
        <p>{{home.allowedThing}}</p>
      </div>
      <div *ngIf="home.stuff" class="item"><span>Stuff </span>
        <p>{{home.stuff}}</p>
      </div>
      <div *ngIf="home.additionInfo" class="item"><span>Additional Information </span>
        <p>{{home.additionInfo}}</p>
      </div>
    </div>
  </div>
</ng-container>