.content-myhome{
    line-height: 2.5;
    padding: 10px 20px;
    white-space: pre-wrap;
}
.content-myhome span{
    padding-right: 10px;
    font-size: 18px;
    font-weight: 600;
}
.item{
    border: 1px solid rgba(0,0,0,0.15);
    margin: 10px 0px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #f8f8f878;
}