<div class="header-section">
  <a routerLink="/Users/People/{{peopleId}}"><span class="header-title">{{people?.fullName}}</span></a>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-container *ngIf="!isLoading;else loading">

  <div #boxchat id="box-chat" class="box-chat" [infiniteScrollContainer]="boxchat" infiniteScroll [scrollWindow]="false"
    [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0" [infiniteScrollThrottle]="100"
    (scrolledUp)="onScrollUp()">
    <!-- <ng-template #loadingmess> Loading...</ng-template> -->
    <!-- <button *ngIf="!isLoadingMess;else loadingmess" (click)="seeMore()">more</button> -->

    <div class="loading" *ngIf="isLoadingMess"><img src="./../../../../../assets/imgs/spinner.gif"></div>
    <ng-container *ngFor="let message of messages; index as index ">
      <div class="message-item" [ngClass]="{'user':message.isYou}" >
        <span>{{message.content}}</span>
        <ng-template #tick><i class="fas fa-check tick"></i></ng-template>
        <div class="sent" *ngIf="index==(messages.length-1) && message.isYou"><img *ngIf="isSent;else tick"
            src="./../../../../../assets/imgs/spinner.gif"></div>
      </div>

    </ng-container>

  </div>
  <div class="chatControl">
    <form (submit)="sendMessage()" #formchat="ngForm" autocomplete="off">
      <!-- <input ngModel [(ngModel)]="textchat" name="textchat" type="text" required placeholder="Input Message ..."> -->
      <textarea #area autofocus ngModel [(ngModel)]="textarea" name="textarea" (keydown.enter)="$event.preventDefault()"
        (keyup)=onkeyup($event) placeholder="Input Message ..." required></textarea>
      <button [disabled]="formchat.invalid" type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>

</ng-container>