a{
    color: #27374c;
}
.item{
    border-radius: 0.5rem;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #f8f8f8;
    margin: 20px;
}
a:hover{
    text-decoration: none;
}
.trip{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    padding: 20px;
}
.row{
    margin: 0;
}
.col{
    padding: 0;
}
.trip .avatar{
    min-width: 90px;
    max-width: 90px;
}
.trip img{
    height: 70px;
    width:70px;
    border-radius: 50%;
}
.trip .trip-content{
   min-width: 100px;
   
}
.top{
    width: 100%;
    
}
span{
    word-wrap: break-word;
}
.traveler-info{
    min-width: 100px;
    float: left;
}
.offer-button{
    max-width: 120px;
  
  position: absolute;
  right: 0;
  top: 0;
}
.offer-button button{
    width: 120px;
    min-height: 50px;
}

.trip-info{
    clear: both;
    padding: 15px 0px;
}
.trip-info span{
    padding-right: 10px;
    
}

.trip-decription{
   clear: both;
   word-wrap: break-word;
   white-space: pre-wrap;
   max-width: 80%;
   max-height: 4.5em;
   overflow: hidden; 
  transition: max-height 0.5s; 

}
.trip-decription p{
    margin-bottom: 0px; 
}
.button-decription{
    padding-top: 5px;
    display: flex; 
    max-width: 80%;
}
.button-decription a{
color: #287FB8;;
font-weight: 600;
}
.button-decription a:hover{
    cursor: pointer;
    color: #ED6504;
}
.traveler-info .name{
font-size: 1.3em;
font-weight: 500;
padding-right: 20px;
}
.traveler-info .bold-value{
    font-size: 1em;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    .avatar{
        flex: 0 0 100%;
        max-width: 100%;
      
    }
    .trip-content{
        flex: 0 0 100%;
        max-width: 100%;

    }
    .trip-decription,.button-decription{
        max-width: 100%;
    }
    .offer-button{
        padding-top: 10px;
        position: unset;
        max-width: 100%;
        float: unset;
        display: flex;
        justify-content: center;
    }
    .offer-button button{
        min-height: unset;
        width: 150px;
    }
}