<div class="trip row">
  <div class="avatar col">
    <a routerLink="/Users/People/{{publicTrip.user.id}}"><img class="photo"
        [src]="publicTrip.user.avatarLocation?publicTrip.user.avatarLocation:'./../../../../assets/imgs/profile-picture-placeholder.png'" alt=""></a>
  </div>
  <div class="trip-content col">
    <div class="top">
      <div class="traveler-info">
        <a routerLink="/Users/People/{{publicTrip.user.id}}"> <span class="name">{{publicTrip.user.fullName}}</span></a>
        <br>
        <span>Visiting: </span><span class="bold-value">{{publicTrip.destination}}</span><br>
        <span>From: </span><span class="bold-value">{{publicTrip.user.address}}</span><br>
        <span>Speakers: </span><span class="bold-value">{{publicTrip.user.fluentLanguage}}</span><br>
      </div>
      <div class="offer-button ">
        <button class="btn btn-primary">Offer to Host</button>
      </div>
    </div>
    <div class="trip-info">
      <span><i class="far fa-calendar-alt"></i></span>
      <span>{{publicTrip.arrivalDate|date:"dd/MM/yy" }} <i class="fas fa-arrow-right"></i>
        {{publicTrip.departureDate|date:"dd/MM/yy"}}</span>
      <span><i class="fas fa-user-friends"></i></span><span>{{publicTrip.travelerNumber}} Traveler</span>
    </div>
    <div class="trip-decription" (window:resize)="onResize($event)" [ngStyle]="x && {'max-height.em':height}">
      <p #des>{{publicTrip.description}} </p>
    </div>
    <div class="button-decription">
      <a style="margin-left:auto" *ngIf="show" (click)="x=!x">{{x?'[-]Read Less':'[+]Read More'}}</a>
    </div>
  </div>
</div>