<ng-template #loading>
  <div class="box">
    <app-loading></app-loading>
  </div>
</ng-template>
<ng-template #nothing>
  <div class="nothing">
    <span>You don't have puclic trip </span>
  </div>
</ng-template>

<ng-container *ngIf="user.id && trips;else loading">
  <div class="box box-publictrip">
    <div class="box-header">
      <span>PUBLIC TRIPS</span>
    </div>
    <ng-container *ngIf="trips.length;else nothing">
      <ng-container *ngFor="let trip of trips">
        <app-trip (myClick)="openofferToHostModal($event)" [isUser]="isUser" [trip]="trip"></app-trip>
      </ng-container>
    </ng-container>
    <div class="box-action" *ngIf="isUser">
        <a routerLink="/Users/PublicTrip"><span>Your Trip's Plan</span><span><i
              class="fas fa-arrow-circle-right"></i></span> </a>
      </div>
  </div>

  <div class="box box-overview">
    <div class="box-header">
      <span>OVERVIEW</span>
    </div>
    <div class="content-overview row">
      <div class="left col">
        <!-- <div class="item"><i class="far fa-comment-dots"></i> <span>0 references</span></div> -->
        <div class="item"><i class="fas fa-map-marker"></i> <span>{{user.address}}</span></div>
        <div class="item"><i class="fas fa-child"></i> <span>Fluence in {{user.fluentLanguage}}</span></div>
        <div class="item"> <i class="fas fa-book"></i> <span>Leaning {{user.learningLanguage}}</span></div>
      </div>
      <div class="right col">
        <div class="item"> <i class="far fa-calendar-alt"></i><span>{{user.birthday|date:'dd/MM/yyyy'}}</span></div>
        <div class="item"><i class="fas fa-venus-mars"></i> <span
            *ngIf="user.gender!=null">{{user.gender?'Male':'Female'}}</span></div>
        <div class="item"><i class="fas fa-briefcase"></i> <span>{{user.occupation}}</span></div>
      </div>
    </div>
  </div>
  <div class="box box-aboutme">
    <div class="box-header">
      <span>ABOUT ME</span>
    </div>
    <div class="content-aboutme">
      <p>{{user.about}}</p>
      

      
    </div>
    <div class="interest-header">
      <h6>INTEREST</h6>
    </div>
    <div class="content-aboutme">
      <p>{{user.interest}}</p>
    </div>
  </div>
</ng-container>
<app-offer-to-host></app-offer-to-host>