<ng-template #loading>
  <div class="box" style="height:150px;display: flex; align-items: center;justify-content: center;">
    <div>
      <img style="height:50px;width: 50px;" src="./../../../../../assets/imgs/spinner.gif">
    </div>
  </div>
</ng-template>
<ng-container *ngIf="user.id;else loading">
  <div class="box box-publictrip">
    <div class="box-header">
      <span>PUBLIC TRIPS</span>
    </div>
    <ng-container *ngFor="let trip of user.publicTrips">
      <app-trip [isUser]="isUser" [trip]="trip"></app-trip>
    </ng-container>

  </div>
  <div class="box box-overview">
    <div class="box-header">
      <span>OVERVIEW</span>
    </div>
    <div class="content-overview row">
      <div class="left col">
        <div class="item"><i class="far fa-comment-dots"></i> <span>0 references</span></div>
        <div class="item"><i class="fas fa-map-marker"></i> <span>{{user.address}}</span></div>
        <div class="item"><i class="fas fa-child"></i> <span>Fluence in {{user.fluentLanguage}}</span></div>
        <div class="item"> <i class="fas fa-book"></i> <span>Leaning {{user.learningLanguage}}</span></div>
      </div>
      <div class="right col">
        <div class="item"> <i class="far fa-calendar-alt"></i><span>{{user.birthday|date:'dd/MM/yyyy'}}</span></div>
        <div class="item"><i class="fas fa-venus-mars"></i> <span
            *ngIf="user.gender!=null">{{user.gender?'Male':'Female'}}</span></div>
        <div class="item"><i class="fas fa-briefcase"></i> <span>{{user.occupation}}</span></div>
      </div>
    </div>
  </div>
  <div class="box box-aboutme">
    <div class="box-header">
      <span>ABOUT ME</span>
    </div>
    <div class="content-aboutme">
      <p>{{user.about}}</p>
      <h4>Interest</h4>

      <p>{{user.interest}}</p>



    </div>
  </div>
</ng-container>