<ng-template #loading>
  <div class="box">
    <app-loading></app-loading>
  </div>
</ng-template>
<ng-template #nothing>
  <div class="nothing">
    <span>Nothing to show</span>
  </div>
</ng-template>
<ng-container *ngIf="isLoading==false;else loading">
  <app-upload [from]="'photos'" (myclick)="addphoto($event)"></app-upload>
  <div class="box box-photos">
    <div class="box-header" [ngStyle]=" isUser && {'padding': '8px 20px'}">
      <span>PHOTOS ({{photos.length}})</span>
      <button *ngIf="isUser" (click)="upload.open();" class="btn btn-primary"><i class="fas fa-plus"></i>Add
        Photo</button>
    </div>

    <ng-container *ngIf="photos.length;else nothing">
      <app-carousel-modal [isUser]="isUser" [photos]="photos" (myclick)="subphoto($event)"></app-carousel-modal>
      <div class="content-photos">
        <ul class="grid-photos row">
          <li class="grid-item  col-3" *ngFor="let photo of photos; index as index">
            <a (click)="carousel.open(index)"> <img [src]="photo.location"></a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>



</ng-container>