<app-write-reference-modal [people]="user"></app-write-reference-modal>
<app-send-message-modal [people]="user"></app-send-message-modal>
<app-send-request-modal [people]="user"></app-send-request-modal>
<app-send-report-modal [people]="user"></app-send-report-modal>
<div class="row">
  <div class="content-left col-3 ">
    <div class="box user-info">
      <img class="photo img-responsive"
        [src]="user.avatarLocation?user.avatarLocation:'./../../../../assets/imgs/profile-picture-placeholder.png'">
      <div class="info">
        <p style="font-size:30px;font-weight: 600">{{user.fullName}}</p>
        <p style="font-size: 20px;"> {{user.address}}</p>
      </div>

    </div>
    <div class="box" style="min-height:500px">

    </div>
  </div>
  <div class="content-right col ">
    <div class="box status-bar">
      <i *ngIf="user.status;else not" class="color-icon"
        style=" margin-left: 20px; width: 40px;height: 40px; background-image: url(https://img.icons8.com/color/96/000000/ok.png)"></i>
      <ng-template #not>
        <i class="color-icon"
          style=" margin-left: 20px; width: 40px;height: 40px; background-image: url(https://img.icons8.com/color/96/000000/cancel.png)"></i>
      </ng-template>
      <span class="status-value" [style.color]="user.status?'green':'red'">
        {{user.status?'Acepting Guest':'Not Acepting Guest'}}
      </span>
      <div class="button-bar">
        <button (click)="sendRequestModal.open();" *ngIf="!isUser&&user.status" class="btn btn-primary">Send
          Request</button>
          <!-- (click)="sendMessageModal.open();"  -->
        <button routerLink="/Users/Message" [queryParams]="{id:user.id}"
          *ngIf="!isUser" class="btn btn-primary"><i class="far fa-envelope"></i></button>
        <button *ngIf="isUser" class="btn btn-primary" routerLink="/Users/Profile/Edit">Edit My Profile</button>
        <div *ngIf="!isUser" class="dropdown" (clickOutside)="isdrop=false;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            (click)="isdrop=!isdrop" aria-haspopup="true" aria-expanded="false">
            More
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2"
            [style.display]="isdrop?'block':'none'">
            <button *ngIf="!isFriend" (click)="sendFriendRequest()" class="dropdown-item" type="button">Add
              Friend</button>
            <button *ngIf="isFriend" class="dropdown-item" (click)="removeFriend()">Remove Friend</button>
            <button (click)="writeReferenceModal.open();" class="dropdown-item" type="button">Write Reference</button>
            <button (click)="sendReportModal.open();" class="dropdown-item" type="button">Report</button>
          </div>
        </div>
      </div>

    </div>
    <div class="box menu-bar">
      <ul>
        <li><a routerLinkActive='is-selected' [routerLink]="['About']"><span>About</span></a></li>
        <li><a routerLinkActive='is-selected' [routerLink]="['Myhome']"><span>My Home</span></a></li>
        <li><a routerLinkActive='is-selected' [routerLink]="['Photos']"><span>Photos</span></a></li>
        <li><a routerLinkActive='is-selected' [routerLink]="['References']"><span>References</span></a></li>
        <li *ngIf="isUser"><a routerLinkActive='is-selected' [routerLink]="['Friends']"><span>Friends</span></a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>