
.content-left{
    min-width: 300px;
    max-width: 300px;
    padding: 0px 5px 0px 5px !important;
    /* margin-right: 5px !important; */
    
}
.content-right{
    padding: 0px 5px 0px 5px !important;
    /* min-width: 500px; */
}
.content-right .row,.col{
    margin: 0px ;
}
.status-bar{
    height: 70px;
    display: flex;
    align-items: center;
}
.status-bar button{
    margin-left: auto;
    margin-right: 30px;
}
.status-bar span{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 500;
}
.user-info{
    padding-top: 50px;
    text-align: center;
}
.info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.photo{
    margin-left: auto;
    margin-right: auto;
   display: block;
   border-radius: 50%;
}
.info p{
    padding: 3px 0px 3px 0px;
    margin-bottom: 0px !important;
}

.menu-bar{
    margin: auto;
    display: flex;
    align-items: center;
    height: 70px;
}
.menu-bar ul{
list-style: none;
margin-top: 0px;
margin-bottom: 0px;
}
.menu-bar ul li{
    display: inline-block;
    text-align: center; 
}
.menu-bar ul li a{
    text-decoration: none;
    color: #27374c;
    margin: 0px 13px;
}
.menu-bar ul li a:hover{
    color: #ED6504;
}
.menu-bar ul li .is-selected{
    color: #ED6504;
    font-weight: bold;
}