
.content-left{
    /* min-width: 220px; */
    max-width: 300px; 
    min-width: 260px;
    padding: 0px 5px 0px 5px !important;
    /* margin-right: 5px !important; */
    
}
.content-right{
    padding: 0px 5px 0px 5px !important;
    min-width: 100px;
    /* min-width: 500px; */
}
.content-right .row,.col{
    margin: 0px ;
}
.status-bar{
    min-height: 70px;
    display: flex;
    align-items: center;
}
.status-bar .button-bar{
    margin-left: auto;
    margin-right: 20px;
}
.button-bar button{
    margin-left: 5px;
}
.dropdown-menu button{
    margin: 0px;
}
.status-bar span{
    padding-left: 5px;
    font-size: 30px;
    font-weight: 500;
}
.status-bar .dropdown{
    display: inline-block;
}

.user-info{
    padding-top: 50px;
    text-align: center;
}
.info{
    padding-top: 10px;
    padding-bottom: 10px;
}

.info p{
    padding: 3px 0px 3px 0px;
    margin-bottom: 0px !important;
}

.menu-bar{
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 70px;
}
.menu-bar ul{
    padding-inline-start: 7px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-bar ul li{
    display: inline-block;
    text-align: center; 
    margin: 0px 13px;
}
.menu-bar ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #287FB8;
}
.menu-bar ul li a:hover{
    color: #ED6504;
}
.menu-bar ul li .is-selected{
    color: #ED6504;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .content-left{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .content-right{
        order: 1;

    }
}
