<div class="row" *ngIf="user.id">
  <div class="content-left col ">
    <div class="box user-info">
      <img class="photo img-responsive" [src]="'./../../../../assets/imgs/profile-picture-placeholder.png'">
      <div class="info">
        <p style="font-size:30px;">{{user.fullName}}</p>
        <p>{{user.address}}</p>
      </div>

    </div>
  </div>
  <div class="content-right col ">
    <div class="box status-bar">
      <span class="status-value" [style.color]="user.status?'green':'red'">
        {{user.status?'Acepting Guest':'Not Acepting Guest'}}
      </span>
      <div class="button-bar">
        <button *ngIf="!isUser&&user.status" class="btn btn-primary">Send Request</button>
        <button *ngIf="!isUser" class="btn btn-primary"><i class="far fa-envelope"></i></button>
        <button *ngIf="isUser" class="btn btn-primary" routerLink="/Users/Profile/Edit">Edit My Profile</button>
        <div *ngIf="!isUser" class="dropdown" (clickOutside)="isdrop=false;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            (click)="isdrop=!isdrop" aria-haspopup="true" aria-expanded="false">
            More
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2"
            [style.display]="isdrop?'block':'none'">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </div>

    </div>
    <div class="box menu-bar">
      <ul>
        <li><a routerLinkActive='is-selected' [routerLink]="['About']"><span>About</span></a></li>
        <li><a routerLinkActive='is-selected' [routerLink]="['Myhome']"><span>My Home</span></a></li>
        <li><a routerLinkActive='is-selected' [routerLink]="['Photos']"><span>Photos</span></a></li>
        <li><a href=""><span>References</span></a></li>
        <li><a href=""><span>Friends</span></a></li>
        <li><a href=""><span>Favorites</span></a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>