<div class="row">
  <div class="content-left col ">
      <div class="box user-info">
          <a href="#"><img class="photo img-responsive" src="./../../../../assets/imgs/profile-picture-placeholder.png"></a>
          <div class="info">
            <p style="font-size:30px;">{{user.fullName}}</p>
            <p>{{user.address}}</p>
          </div>
          
        </div>
  </div>
  <div class="content-right col ">
    <div class="box status">
        <span *ngIf="user.id" class="status-value" [style.color]="user.status?'green':'red'">
            {{user.status?'Acepting Guest':'Not Acepting Guest'}}
          </span>
      <button *ngIf="user.id" class="btn btn-primary">Send Request</button>
    </div>
    <div class="box menu-bar">
        <ul>
          <li><a href=""><span>About</span></a></li>
          <li><a href=""><span>My Home</span></a></li>
          <li><a href=""><span>Photos</span></a></li>
          <li><a href=""><span>References</span></a></li>
          <li><a href=""><span>Friends</span></a></li>
          <li><a href=""><span>Favorites</span></a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>