
.content-left{
    min-width: 300px;
    max-width: 300px;
    padding: 0px 5px 0px 5px !important;
    /* margin-right: 5px !important; */
    
}
.content-right{
    padding: 0px 5px 0px 5px !important;
    min-width: 500px;
}
.content-right .row,.col{
    margin: 0px ;
}
.menu-bar{
    margin: auto;
    display: flex;
    align-items: center;
    height: 70px;
}
.menu-bar ul{
list-style: none;
margin-top: 0px;
margin-bottom: 0px;
}
.menu-bar ul li{
    display: inline-block;
    text-align: center; 
}
.menu-bar ul li a{
    text-decoration: none;
    color: #27374c;
    margin: 0px 13px;
    

}