<div class="card" style="width: 22rem;">
  <div class="header">
      <img [src]="img" class="card-img-top" alt="...">

      <div class="" style="width: 18rem;">
        <ul class="list-group">
          <li class="list-group-item name">{{test.name}}</li>
          <li class="list-group-item">

                <i class="eva eva-message-square wrapper-icon"></i>

            <b>{{test.ref.length}}</b> Reference{{test.ref.length > 1 ? 's' : ''}}
          </li>

          <li class="list-group-item">

                <i class="eva eva-briefcase wrapper-icon"></i>

            <span>{{test.occupation}}</span>
          </li>

          <li class="list-group-item">

              <i class="eva eva-globe-2 wrapper-icon"></i>

            <span>Speak {{test.speaks | formatData:0:10}}</span>
          </li>
        </ul>
      </div>
  </div>
  <div class="card-body" [style.padding.px]="10">
    <p class="card-text">{{test.content | formatData:0:100}}</p>
  </div>
</div>


