<nav class="header-wrapper" (clickOutside)="isMenu = false;isSearch = false;">
    <div class="logo">
        <a routerLink='/Users/Dashboard' routerLinkActive='active'>
            <i class="fas fa-globe-asia"></i>
        </a>
    </div>

    <div class="button-responsive">
        <div class="search-responsive">
            <button (click)="isSearch = !isSearch;isMenu = false;">
                <i [ngStyle]="isSearch && !isMenu && {'color':'#ED6504'}" class="fas fa-search "></i></button>
        </div>
        <div class="menu-responsive">
            <button (click)="isMenu = !isMenu;isSearch = false;">
                <i [ngStyle]="isMenu && !isSearch && {'color':'#ED6504'}" class="fas fa-bars"></i></button>
        </div>
    </div>
    <div [ngStyle]="isSearch && !isMenu && {'display':'flex'}" class="search-box"
        (clickOutside)="cityNames=[];textInput = '';"
        >
        <form #formSearch="ngForm" autocomplete="off">
            <div class="search-form row">
                <select [(ngModel)]="textSelect" class=" search-select form-control shadow-sm col" name="select">
                    <option value="host" selected>Find Host</option>
                    <option value="traveler">Find Traveler</option>
                </select>
                <div class="search-form-1 col">
                    <button class="" type="submit" (click)="onSearch(formSearch)"><i class="fas fa-search"></i></button>
                    <input [(ngModel)]="textInput"  (keyup)="onKeyup($event);" class="form-control shadow-sm" type="text"
                        name="input" placeholder="Search for Place" >

                    <div class="dropdown">
                        <ul>
                            <li *ngFor="let city of cityNames"><a (click)="textInput=city; onSubmit(formSearch);">
                                    <span>{{city}}</span>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <nav [ngStyle]="isMenu && !isSearch && {'display':'block'}" class="menu-bar">
        <ul>
            <li>
                <a (click)="this.isMenu = false;" routerLink='/Users/Dashboard' routerLinkActive='active'>
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="name">
                        <span>
                            Dashboard
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a (click)="this.isMenu = false;" routerLink='/Users/Profile' routerLinkActive='active'>
                    <div class="icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="name">
                        <span>
                            Profile
                        </span>

                    </div>
                </a>
            </li>
            <li>
                <a (click)="this.isMenu = false;" routerLink='/Users/Request' routerLinkActive='active'>
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="name">
                        <span>
                            Request
                        </span>

                    </div>
                </a>
            </li>
            <li>
                <a (click)="this.isMenu = false;" routerLink='/Users/Message' routerLinkActive='active'>
                    <div class="icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="name">
                        <span>
                            Message
                        </span>

                    </div>
                </a>
            </li>
            <li>
                <a href="" (click)="onLogout();">
                    <div class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <div class="name">
                        <span>
                            Logout
                        </span>

                    </div>

                </a>
            </li>
        </ul>
    </nav>




</nav>
