<div class="card box" style="margin-top: 20px;">
    <div class="card-header bg-danger" style="color: white">
      <i class="fas fa-list"></i> List user is banned
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">User is banned</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2</td>
            <td>
              <button class="btn btn-primary">Active</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>
              <button class="btn btn-primary">Active</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>
              <button class="btn btn-primary">Active</button>
            </td>
          </tr>
          <tr>
            <th scope="row">...</th>
            <td>...</td>
            <td>...</td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="btn btn-danger">See more</a>
    </div>
  </div>
