.container{
    padding-top: 70px;
    margin-top: 10px;
    max-width: 1280px;
}
.container .row,.col{
    padding: 0px ;
    margin: 0px ;
}
.header{
    padding: 0px !important;
    top: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    position: fixed;
    z-index: 1000;
}
.footer{
    margin-top: 10px;
    height: 200px;
    background-color: white;
    clear:both;
}
.box{
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 0.15rem !important;
    margin-bottom: 10px;
}
