.menu-bar{
    margin: auto;
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.menu-bar ul{
    padding-inline-start: 7px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-bar ul li{
    display: inline-block;
    text-align: center; 
    margin: 0px 13px;
}
.menu-bar ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #287FB8;
}
.menu-bar ul li a:hover{
    color: #ED6504;
    cursor: pointer;
}
.menu-bar ul li .is-selected{
    color: #ED6504;
    font-weight: 600;
}
.item{
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #f8f8f8;
    margin: 20px;
}