<ng-template #loading>
  <div class="box">
    <app-loading></app-loading>
  </div>
</ng-template>
<ng-template #loading1>
  <app-loading></app-loading>
</ng-template>
<ng-template #nothing>
  <div class="nothing">
    <span>Nothing to show</span>
  </div>
</ng-template>
<ng-container *ngIf="isLoading==false;else loading">
  <div class="box box-references">
    <div class="box-header">
      <span>REFERENCES</span>
    </div>
    <div class="content-references">
      <div class="menu-bar">
        <ul>
          <li><a [ngClass]="{'is-selected':type=='all'}" (click)="onClick('all')"><span>All
                ({{referencesres.length}})</span></a>
          </li>
          <li><a [ngClass]="{'is-selected':type=='positive'}" (click)="onClick('positive')"><span><i style="color:green"
                  class="fas fa-star"></i> Positive
                ({{positive.length}})</span></a>
          </li>
          <li><a [ngClass]="{'is-selected':type=='negative'}" (click)="onClick('negative')"><span>
              <i style="color:red"
              class="fas fa-star"></i> Negative ({{negative.length}})</span></a></li>

        </ul>
      </div>

      <ng-container *ngIf="references.length;else nothing">
        <ng-container *ngFor="let reference of references">
          <div class="item">
            <app-reference [reference]="reference"></app-reference>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
</ng-container>