<ng-template #loading>
  <div class="box cover">
    <app-loading></app-loading>
  </div>
</ng-template>

<div *ngIf="!isLoading;else loading" class="cover">
  <div class="box result">
    <span>{{items.length?'':'No '}}Result of
      {{params.type=='traveler'?'Traveler':(params.type=='host'?'Host':'People')}} with
      {{params.type=='people'?'name':'place' }} "{{params.data}}" </span>
  </div>
  <div class="row content" infiniteScroll [infiniteScrollDistance]="0.1" [infiniteScrollUpDistance]="0"
    [infiniteScrollThrottle]="1000" (scrolled)="onScrollDown()">
    <ng-container *ngFor="let item of items">
      <div class="item col-md-6 col-sm-12">
        <app-card-result [type]="params.type" [item]="item"></app-card-result>
      </div>
    </ng-container>
  </div>

</div>
<div *ngIf="isLoadingMore">
  <div style="height:40px;display: flex; align-items: center;justify-content: center;">
    <div>
      <img style="height:30px;width: 30px;" src="./../../../../../assets/imgs/spinner.gif">
    </div>
  </div>
</div>
<!-- <ng-template #nothing1>
  <div *ngIf="nothing" class="box result" style="height: 40px;background-color: #f2f2f2;justify-content: center;">
    <span>That's All !</span>
  </div>
</ng-template> -->








<!-- 

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm">

    <div class="d-flex justify-content-center text-secondary m-3" *ngIf="!hosts && !travelers && !peoples; else inform">
        <div class="spinner-border" role="status" style="width: 3em; height: 3em;">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <ng-template #inform>
        <div class="alert alert-light box" *ngIf="length === 0;else Result">No result with key "{{address}}" for {{hosts ? 'hosts' : travelers ? 'travelers' : 'people'}}</div>
        <ng-template #Result>
            <div class="alert alert-light box">{{length}} result{{length > 1 ? 's' : ''}} with key "{{address}}" for {{hosts ? 'hosts' : travelers ? 'travelers' : 'people'}}</div>
        </ng-template>
    </ng-template>



    <div class="row">
      <ng-container *ngIf="hosts;else noHost">
        <div class="col-sm-6" *ngFor="let host of hosts" [ngStyle]="{padding: '5px'}">
          <app-people [user]="host"></app-people>
        </div>
      </ng-container>

      <ng-template #noHost>
        <ng-container *ngIf="travelers; else user">
          <div class="col-sm-6" *ngFor="let traveler of travelers" [ngStyle]="{padding: '5px'}">
              <app-people [trip]="traveler"></app-people>
          </div>
        </ng-container>

        <ng-template #user>
          <div class="col-sm-6" *ngFor="let people of peoples" [ngStyle]="{padding: '5px'}">
              <app-people [people]="people"></app-people>
          </div>
        </ng-template>

      </ng-template>
    </div>
  </div>

  <div class="col-sm-2">

  </div>
</div> -->