<!-- <div class="center">
  <div class="wrapper">
    <div class="alert alert-light" role="alert">
        <b>{{peoples.length}} Results</b>
    </div>
    <app-people
      *ngFor="let people of peoples; let i = index"
      [ngClass]="{left: true, clear: i % 2 === 0 ? true : false}"
    >
    </app-people>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm">
    <!-- <div class="lds-ring" *ngIf="!peoples"><div></div><div></div><div></div><div></div></div> -->

    <div class="d-flex justify-content-center text-secondary m-3" *ngIf="!hosts && !travelers">
        <div class="spinner-border" role="status" style="width: 3em; height: 3em;">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="alert alert-light box" *ngIf="length === 0;else Result">No result with key "{{address}}" for {{hosts ? 'hosts' : 'travelers'}}</div>
    <ng-template #Result>
        <div class="alert alert-light box">{{length}} result{{length > 1 ? 's' : ''}}</div>
    </ng-template>
    <div class="row">
      <ng-container *ngIf="hosts;else trip">
        <div class="col-sm-6" *ngFor="let host of hosts" [ngStyle]="{padding: '5px'}">
          <app-people [user]="host"></app-people>
        </div>
      </ng-container>

      <ng-template #trip>
          <div class="col-sm-6" *ngFor="let traveler of travelers" [ngStyle]="{padding: '5px'}">
              <app-people [trip]="traveler"></app-people>
          </div>
      </ng-template>
    </div>
  </div>

  <div class="col-sm-2">

  </div>
</div>
