/* .center {
  display: flex;
  justify-content: center;
}

.left {
  float: left;
  margin-bottom: 10px;

}

.clear {
  clear: both;
  margin-right: 10px;
}


.wrapper::after {
  content: '';
  display: block;
  clear: both;
}

.custom {
  padding: 15px 15px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 46%
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #AAA;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #AAA transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */


.cover{
  max-width: 960px;
  margin: auto;
}
.result{
  margin: 0px -5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
.content{
  margin-right: -10px;
    margin-left: -10px;
}
.item{
  padding: 0px 5px;
}