<div class="header shadow-lg bg-white ">
    <nav class="header-wrapper">
        <div class="logo">
            <a routerLink='/Users/Dashboard' routerLinkActive='active'>
                <i class="fas fa-globe-asia"></i>

            </a>

        </div>
        <img style="height:50px;padding-left: 20px" src="./../../../assets/imgs/logo.png">


        <div class="menu-bar">

            <button class="btn btn-outline-primary " [routerLink]="['SignIn']" routerLinkActive='active'>Login</button>
            <button class="btn btn-outline-primary " [routerLink]="['SignUp']" routerLinkActive='active'>Sign
                Up</button>

        </div>
    </nav>
</div>
<!-- Header -->
<div class="container">
    <div class="container-wrapper row">
        <div class="content col">
            <h2>Stay with Locals and Meet Travelers </h2>
            <h4>Join to share authentic travel experiences</h4>
        </div>
        <div class="auth-box col">
            <div class="form-box">
                <router-outlet (activate)="onActivate($event)"></router-outlet>
            </div>
        </div>
    </div>


</div>
<div class="footer shadow-lg bg-white ">
    <app-footer></app-footer>
</div>