.header-wrapper{
    /* padding:0px 10px 0px 10px;  */
    max-width: 1280px;
    margin: auto;
    
}
.logo{
    height: 70px;
    padding-left: 10px;
    float: left;
}
.logo a{
    color: #ED6504;
}
.logo i{
    margin-top: 10px;
    font-size: 50px;
}
/*---header---*/
.container{
    background-image: url("https://ht-assets.couchsurfing.com/assets/homepage/have-fun-with-couchsurfing-0c56538cda235c5806dc956559fe942179937b39d686329158cd1987801ce115.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100% !important;
    float: left;
    min-height: 40em;
}


.content{
    float: left;
    width: 63%;
    
}
.auth-box{
    float: right;
    width: 35%;
    
}
.form-box-button {
    float: right;
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 70px;
}
.form-box-button button{
    margin-left: 20px;
    width: 150px;
}
.form-box{
    min-height: 500px;
    width: 25em;
    
}


