<div class="header shadow-lg p-3 bg-white ">
    <nav class="header-wrapper">
        <div class="logo">
            <a routerLink='/Users/Dashboard' routerLinkActive='active'>
                <i class="fas fa-globe-asia"></i>
            </a>
        </div>
        <!-- <div class="">

        </div> -->
        <div class="menu-bar">
            
                <button class="btn btn-primary btn-lg" routerLink='/Userauth/SignIn' routerLinkActive='active'>Sign
                    In</button>
                <button class="btn btn-primary btn-lg" routerLink='/Userauth/SignUp' routerLinkActive='active'>Sign
                    Up</button>
            
        </div>
    </nav>
</div>
<!-- Header -->
<div class="container">
    <div class="container-wrapper row">
            <div class="content col">
                    <h3>Something here</h3>
                </div>
                <div class="auth-box col">
            
                    <div class="form-box shadow-lg p-3 bg-white rounded">
                        <router-outlet></router-outlet>
                    </div>
                </div>
    </div>
    

</div>
<div class="footer shadow-lg p-3 bg-white ">
    <app-footer></app-footer>
</div>