.header-wrapper{
    /* padding:0px 10px 0px 10px;  */
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
}
.logo{
    
    padding-left: 10px;
    float: left;
}
.logo a{
    display: inline-block;
    color: #ED6504;
}
.logo i{
    font-size: 50px;
}
.menu-bar {
    float: right;
    margin-left: auto;
    margin-right: 60px;
}
.menu-bar button{
    margin-left: 20px;
    width: 150px;
}
/*---header---*/
.container{
    background-image: url("https://ht-assets.couchsurfing.com/assets/homepage/have-fun-with-couchsurfing-0c56538cda235c5806dc956559fe942179937b39d686329158cd1987801ce115.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100% !important;
}
.container-wrapper{
   max-width: 1366px;
}


.auth-box{
    min-height: 600px;
    min-width: 450px;
    max-width: 450px;
}




