<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Photo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>