p{
    font-style: italic;
}
button{
    width: 200px;
    
}
input{
    text-indent: 25px;
}
.form-input{
    position: relative;
}
.form-input i{
    position: absolute;
    top: 10px;
    left: 10px;
}
.box-header{
    background-image:unset;
}