.your-trips{
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 16px;
  padding-left: 30px;
  /* background: rgb(25,192,221);
  background: linear-gradient(90deg, rgba(25,192,221,0.6867121848739496) 0%, rgba(16,155,201,0.3981967787114846) 100%); */
}

.onClick{
  background: #007bff;
  color: white;
}

.your-trips:hover {
  cursor: pointer;
  background: #4c94e0;
  color: white
}

.your-trips .name{
  font-size: 1.3em;
  font-weight: 500;
  padding-right: 20px;
}

.your-trips .visiting{
  font-size: 1em;
  font-weight: 500;
}

.your-trips .trip-info{
  clear: both;
  padding: 10px 0px;
}

.your-trips .trip-info span{
  padding-right: 10px;
}

.your-trips .trip-decription{
  clear: both;
  padding-bottom: 20px;
  white-space: pre-wrap;
}

.your-trips .trip-decription::after{
  content: '';
  display: block;
  clear: both;
}

.your-trips .trip-decription .content{
  float: left;
  width: 90%;
}

.your-trips .delete {
  float: right;
  width: 10%;
}

.your-trips .delete button{
  transition: all 500ms;
  opacity: 0.8;
  transform: scale(0.8);
}

.your-trips .delete button:hover{
  transform: scale(1);
  opacity: 1;
}

.name:focus {
  color: #365899;
  text-decoration: underline;
}
