.cover{
    display: flex;
    justify-content: space-between;
}
.left-section{
    width: 40%;
    height: 800px;
    overflow: scroll;
}
.right-section{
    width: 50%;
    height: 500px;
}
.sender-box{
    display: flex;
    height: 120px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}
.sender-box img{
    max-height: 100%;
}
.about{
    width: 60%;
}