.cover{
   
}
.left-section{
    overflow: auto;
    max-width:400px ;
}
.right-section{
    width: 50%;
    height: 500px;
}
.list-chat-box{
    padding: 20px;
}
.sender-item{
    display: flex;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 20px;
}
a:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
.sender-item img{
    height: 70px;
    width: 70px;
}
.about{
    
}
.active{
    background-color: #f2f2f2;
}