<h1>All you recent messages</h1>
<div class="cover row">
        <div class="left-section col">
                <div class="box list-chat-box">
                        <ng-container *ngFor="let sender of listUserChats">
                                <a [ngClass]="{'active':peopleId==sender.id}" class="sender-item" [routerLink]=""
                                        [queryParams]="{id:sender.id}">
                                        <div class="avatar">
                                                <img class="photo" [src]="sender.avatar">
                                        </div>
                                        <div class="about">
                                                <p class="name">{{sender.fullName}}</p>
                                                <p>{{sender.lastedMessage}}</p>
                                                <p>{{sender.createDate}}</p>
                                        </div>
                                </a>
                        </ng-container>
                        <button (click)="loadMoreList()">More</button>
                </div>
        </div>
        <div class="right-section col">
                <h3 *ngIf="people">{{people.fullName}}</h3>

                <div class="box">


                        <app-box-chat (send)="sendMessage($event)" [userId]="user.id" [peopleId]="peopleId">
                        </app-box-chat>
                </div>

        </div>
</div>