/* You can add global styles to this file, and also import other style files */

@import "../node_modules/eva-icons/style/eva-icons.css";

.app-user,.app-userauth{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
body{
  background-image: url("/assets/imgs/back-ground.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    min-height: 100vh;
}



body{
  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1efea !important;
  color:#27374c!important;
  position: relative;
  /* min-height: 100vh!important; */
  overflow-y: auto;
  
  overflow-wrap: break-word;
  word-break: break-word;

  height: 100%;
  display: flex;
  flex-direction: column;
}
/* body::after {
    content: '';
    display: block;
    min-height: 200px;
} */
a:hover{
  text-decoration: none!important;
}
a{
  cursor: pointer;
}
.toast-custom {
  top: 72px;
  right: 12px;
}
.message-toast{
  top: 72px;
  right: 12px;
  width: 200px;
    height: 80px;
  background-color: #f2f2f2;
  border: solid 1px #a2bfc9;
  border-radius: 10px;
  display: flex!important;
  flex-direction: column;
  
  overflow: hidden;
}
.message-toast .toast-title{
 display: inline-block;
 white-space: nowrap;
 padding: 5px;
 text-overflow: ellipsis;
 overflow: hidden;
}
.message-toast .toast-message{
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-holder ,.carousel-modal{
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}

.container {
  padding-top: 70px!important;
  max-width: 1280px!important;
  flex: 1 1 auto;
  height: 100%;
  min-height: 100vh
}
.col{
  padding: 0px ;
}

.header{
  margin-right: 13px;
  margin-left: auto;
  top: 0;
  width: 100%;
  background-color: #27374c;
  position: fixed;
  z-index: 1000;
}

.footer{
  color: wheat;
  margin-right: auto;
  margin-left: auto;
  z-index: 800;
  /* position: absolute; */
  min-height: 200px;
  background-color: #27374c;
  width: 100%;
  /* bottom: 0; */
  margin-top: auto;
}
.box{
  border: 1px solid #a2bfc9;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.15rem !important;
  margin-bottom: 10px!important;
}
.box-header{
  background-image: linear-gradient(to right, wheat , white);
  /* background-image: linear-gradient(to right, #e1e6db , #e2dede); */
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.box-header span{
  font-size: 17px;
  font-weight: 600;
}
.box-header i{
  font-size: 1.1em;;
  padding-right: 8px;
}
.box-action{
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.box-action a{
  display: inline-block;
  margin: 12px 0px;
  font-size: 1.1em;
  color: #287FB8;
  font-weight: 500;
  text-decoration: none;
}
.box-action a:hover{
  color: #ED6504;
  text-decoration: none;
}
.box-action i{
  padding-left: 5px;
}
.photo{
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
 border-radius: 50%;
}
.nothing{
  display: flex;
  align-items: center;
  text-align: center;
  background: #eceef0;
  height: 150px;
}
.nothing span{
  margin: auto;
}

.carousel-modal .modal-dialog{
  margin: 0px;
  min-height: 100vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}
.carousel-modal .modal-dialog .modal-content{
  background-color: unset;
  min-height: 100vh;

}
.back-drop{
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 900;
  background-color: #fff;
}
.back-drop-header{
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 60px;
  width: auto;
  opacity: 0;
  z-index: 1001;
  background-color: #fff;
}
.color-icon{
display: inline-block;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
