/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f1efea !important;
    color:#27374c!important;
    position: relative;
    min-height: 100vh;
}
body::after {
    content: '';
    display: block;
    height: 200px; /* Set same as footer's height */
  }