<div class="row" *ngIf="user.id">
  <app-upload [from]="'edit'" (myclick)="setAvatar($event)"></app-upload>
  <div class="content-left col ">
    <div class="box user-info">
      <a class="upload" (click)="upload.open()">
        <div class="top"></div>
        <div class="bottom">
          <i class="fas fa-camera"></i>
        </div>
      </a>
      <img class="photo img-responsive"
        [src]="user.avatarLocation?user.avatarLocation:'./../../../../assets/imgs/profile-picture-placeholder.png'">
        <p style="font-size:30px;font-weight: 600">{{user.fullName}}</p>
        <p style="font-size: 20px;">{{user.address}}</p>
      <div class="box-header">
        <span>OVERVIEW</span>
      </div>
      <div class="overview">
        <div class="item"><i class="fas fa-map-marker"></i> <span>{{user.address}}</span></div>
        <div class="item"><i class="fas fa-child"></i> <span>Fluence in {{user.fluentLanguage}}</span></div>
        <div class="item"> <i class="fas fa-book"></i> <span>Leaning {{user.learningLanguage}}</span></div>
        <div class="item"> <i class="far fa-calendar-alt"></i><span>{{user.birthday|date:'dd/MM/yyyy'}}</span></div>
        <div class="item"><i class="fas fa-venus-mars"></i> <span
            *ngIf="user.gender!=null">{{user.gender?'Male':'Female'}}</span></div>
        <div class="item"><i class="fas fa-briefcase"></i> <span>{{user.occupation}}</span></div>
      </div>
    </div>
  </div>
  <!-- content-left -->
  <div class="content-right col">
    <div class="box">
      <div class=" tab-bar">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " [ngClass]="{'active':isabout}" [routerLink]="" skipLocationChange="true"
              fragment="about" > About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active':!isabout}" [routerLink]="" skipLocationChange="true"
              fragment="myhome" >My home</a>
          </li>
        </ul>
      </div>
      <!-- tab-bar -->
      <div [ngClass]="{'selected':isabout}" class="content">
        <form class="form-group" [formGroup]="formabout" autocomplete="off">
          <div class="form-group row">
            <label class="col-3 col-form-label" for="Status">Status</label>
            <div style="max-width:250px;min-width:250px;" class="col-6">
              <select id="Status" class="form-control" formControlName="status">
                <option value="false" selected>Not Accepting Guest</option>
                <option value="true">Accepting Guest</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="FullName" class="col-3 col-form-label">Full Name<span style="color: red;">*</span></label>
            <div class="col-9">
              <input type="text" class="form-control " id="fullName" formControlName="fullName">
              <label class="text-danger"
                *ngIf="formabout.get('fullName').touched && formabout.get('fullName').errors?.required">This
                field is mandatory.</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="Address" class="col-3 col-form-label">Address</label>
            <div class="col-6">
              <input style="text-align: left;cursor: text;" type="button" class="form-control input-focus"
                formControlName="address" (click)="show=true;showsearch();">
              <div class="back-drop-header" (click)="show=false" *ngIf="show">
              </div>
              <div class="back-drop" (click)="show=false" *ngIf="show">
              </div>
              <form style="position:relative; z-index: 901;" autocomplete="off">
                <input #search name="search" [(ngModel)]="addressInput" class="form-control" (keyup)="onKeyup();"
                  style=" position:absolute;bottom: 0px " [style.display]="show && issearch?'unset':'none'">
                <app-dropdown [type]="'select'" (myClick)="show=false;formabout.get('address').setValue($event);"
                  [searchedSubject]="searchedSubject"></app-dropdown>
              </form>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label" for="Gender">Gender</label>
            <div style="max-width:130px;min-width:130px;" class="col-3">
              <select id="Gender" class="form-control" formControlName="gender">
                <!-- <option value="any">Any</option> -->
                <option value="true">Male</option>
                <option value="false">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-3 col-form-label">BirthDay</label>
            <div style="max-width:250px;min-width:250px;" class="col-6">
              <input class="form-control" type="date" id="example-date-input" formControlName="birthday">
            </div>
          </div>
          <div class="form-group row">
            <label for="Occupation" class="col-3 col-form-label">Occupation</label>
            <div class="col-9">
              <input type="text" class="form-control" id="Occupation" formControlName="occupation">
            </div>
          </div>
          <div class="form-group row">
            <label for="FluentLanguage" class="col-3 col-form-label">Fluent Language</label>
            <div class="col-9">
              <input type="text" class="form-control" id="FluentLanguage" formControlName="fluentLanguage">
            </div>
          </div>
          <div class="form-group row">
            <label for="LearningLanguage" class="col-3 col-form-label">Learning Language</label>
            <div class="col-9">
              <input type="text" class="form-control" id="LearningLanguage" formControlName="learningLanguage">
            </div>
          </div>
          <div class="form-group">
            <label for="About">About</label>
            <textarea class="form-control" id="About" rows="5" formControlName="about"></textarea>
          </div>
          <div class="form-group">
            <label for="Interest">Interest</label>
            <textarea class="form-control" id="Interest" rows="5" formControlName="interest"></textarea>
          </div>
          <div class="button-bar">
            <button [disabled]="!formabout.valid || isdiable" (click)="onSaveabout();" type="submit"
              class="btn btn-success">Save</button>
            <button (click)="setvalueabout();" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
      <!-- content-about -->
      <div [ngClass]="{'selected':!isabout}" class="content">
        <form class="form-group" [formGroup]="formhome" autocomplete="off">
          <div class="form-group row">
            <label for="maxGuest" class="col-3 col-form-label">Max Number of Guests:</label>
            <div style="max-width:130px;min-width:130px;" class="col-2">
              <input type="number" min="0" class="form-control" id="maxGuest" formControlName="maxGuest">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label" for="preferedGender">Preferred Gender to Host</label>
            <div style="max-width:130px;min-width:130px;" class="col-6">
              <select id="preferedGender" class="form-control" formControlName="preferedGender">
                <option></option>
                <option value="Any">Any</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label" for="sleepingArrangement">Sleeping Arrangements</label>
            <div style="max-width:250px;min-width:250px;" class="col-6">
              <select id="sleepingArrangement" class="form-control" formControlName="sleepingArrangement">
                <option></option>
                <option value="Shared Bed" selected>Shared Bed</option>
                <option value="Shared Room">Shared Room</option>
                <option value="Public Room">Public Room (Eg: Living Room)</option>
                <option value="Private Room">Private Room</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="SleepingDescription">Description of Sleeping Arrangement</label>
            <textarea class="form-control" id="SleepingDescription" rows="5"
              formControlName="sleepingDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="TransportationAccess">Public Transportation Access</label>
            <textarea class="form-control" id="TransportationAccess" rows="5"
              formControlName="transportationAccess"></textarea>
          </div>
          <div class="form-group">
            <label for="allowedThing">Allowed Thing</label>
            <textarea class="form-control" id="allowedThing" rows="5" formControlName="allowedThing"></textarea>
          </div>
          <div class="form-group">
            <label for="stuff">Stuff</label>
            <textarea class="form-control" id="stuff" rows="5" formControlName="stuff"></textarea>
          </div>
          <div class="form-group">
            <label for="additionInfo">Additional Information</label>
            <textarea class="form-control" id="additionInfo" rows="5" formControlName="additionInfo"></textarea>
          </div>
          <div class="button-bar">
            <button [disabled]="isdiable" (click)="onSavehome()" type="submit" class="btn btn-success">Save</button>
            <button (click)="setvaluehome()" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
      <!-- content-home -->
    </div>
  </div>
</div>