a:hover{
    cursor: pointer;
}
form{
    margin-bottom: 0px;
}
.content-left{
/* min-width: 300px;
max-width: 400px; */
padding: 0px 5px 0px 5px !important;
flex: 0 0 33.333333%;
max-width: 33.333333%;
}
.content-right{
max-width: 100%;
flex: 0 0 66.666667%;
max-width: 66.666667%;
padding: 0px 5px 0px 5px !important;
}
.user-info{
    text-align: center;
    padding-top: 50px;
}
.photo{
    margin-bottom: 20px;
   
}
.upload{
    position: absolute;
    opacity: 0.7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.upload:hover{
    opacity: 0.6;
}
.upload .top{
    height: 50%;
    border-radius:100px 100px 0 0  ;
}
.upload .bottom{
    display: flex;
    align-items: center;
    height: 50%;
    border-radius:0 0 100px 100px ;
    background-color: #646363;
}

.upload i{
    color: black;
    margin:  auto;
    font-size: 40px;
}
.box-header{
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.15);
}
.overview{
 text-align: left;
 padding-left: 20px;
}
.overview .item{
    height: 50px;
    display: flex;
    align-items: center;

}
.item  span{
    font-size: 1.1em;
    padding: 5px 10px;
}
.item i{
    font-size: 1.1em;
    width: 20px;
}

.tab-bar{
    height: 50px;
    display:flex;
    align-items: center;
    padding-top: 10px;
}
.tab-bar ul{
list-style: none;
margin: 0;
padding: 0;
width: 100%;
}
.tab-bar ul li{
    display: inline-block;
    text-align: center; 
}
.tab-bar ul li a{
    line-height: 50px;
    padding: 0px 15px;
    display: block;
    text-decoration: none;
    font-weight: 500;
}
.tab-bar ul li a span{
    font-weight: 500;
    font-size: 1em; 
}
.tab-bar ul li a:hover{
    cursor: pointer;
    color: #ED6504;
}
.content{
    padding: 20px;
    display: none;
}    
  
.content-right .selected{
    display: block!important;
}
.content-right .active{
    color: #ED6504;
    font-weight: bold;
}

.content-right select:hover{
    cursor: pointer;
}
.content-right button{
    margin: 0px 10px;
    padding: 5px 30px;
}
.content-right label{
    word-wrap: break-word;
    size: 18px;
    font-weight: 600;
}
.button-bar{
    border-top: #ecf0f1 solid 2px;
    padding-top: 20px
}


@media screen and (max-width: 768px){
    .content-left{
        flex: 0 0 100%;
        max-width: 100%;
       order: 2;
    }
    .content-right{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
}
.input-focus:focus{
   
    box-shadow: none;

}